DATABASE_URL="postgresql://postgres:postgres123@localhost:5432/dealflow360"
JWT_SECRET="dealflow360_jwt_secret_2024_xyz"
JWT_REFRESH_SECRET="dealflow360_refresh_secret_2024_abc"
PORT=5000
FRONTEND_URL="http://localhost:5173"
EMAIL_USER=""
EMAIL_PASS=""
UPLOAD_DIR="./src/uploads"
